<section class="faq">
    <div class="container">
        <h2 class="heading txt-center">
            {{ section.settings.faq_questions }}
            <br />
            {{ section.settings.faq_answers }}
        </h2>

        <div class="accordion">
           {% for block in section.blocks %}
            <div class="accordion-item">
                <div class="accordion-header"> {{ block.settings.faq_heading }} <i class="icon-heart"></i></div>
                <div class="accordion-content">
                    {{ block.settings.faq_para }}
                </div>
            </div>
          {% endfor %}
          {% comment %}
            <div class="accordion-item">
                <div class="accordion-header">How does Lovebug support a healthy Vaginal pH?<i
                        class="icon-heart"></i></div>
                <div class="accordion-content">
                    Maintaining a healthy Vaginal pH is the key to vaginal health. Vaginal pH refers to the
                    acidity
                    level of
                    the vagina, a healthy vagina is in the 3.8 to 4.5 range. This healthy range is maintained by
                    having
                    enough good bacteria in the vagina (called vaginal probiotics), the majority of good
                    bacteria
                    are in the
                    Lactobacilli family.
                    <br />
                    <br />
                    If there are not enough good bacteria in the vagina, then vaginal pH can rise creating an
                    environment
                    for “opportunistic” pathogens like Candida (the yeast that causes Vaginal Yeast Infections)
                    or
                    Gardnerella (the bacteria behind Bacterial Vaginosis) to grow rapidly resulting in
                    vaginitis. It
                    can
                    also lead to vaginal dryness and other vaginal health concerns.
                    <br />
                    <br />

                    Lovebug provides the right targeted vaginal Lactobacilli and other vaginal probiotics to
                    help
                    keep a
                    healthy vaginal bacteria balance for a healthy vaginal pH.
                    <br />
                    <br />

                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">What throws off Vaginal pH?<i class="icon-heart"></i></div>
                <div class="accordion-content">
                    Having too low a level of good vaginal bacteria (called vaginal probiotics) is what creates
                    the
                    environment for Vaginal pH to rise. There are many everyday things that can also contribute
                    to
                    an
                    environment of bacterial imbalance, the top ten are included here

                    <br />
                    <br />

                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">What’s in Lovebug? <i class="icon-heart"></i></div>
                <div class="accordion-content">
                    Lovebug is a complete vaginal and overall urogenital health support supplement. With
                    targeted
                    urogenital
                    probiotics plus key support ingredients.
                    <br />
                    <br />
                    When the delicate vaginal flora is out of balance, your natural defense against pathogens
                    is impaired. Lovebug contains the same healthy lactobacilli and other vaginal probiotics
                    naturally
                    occurring in the vagina (over 90 billion CFU in fact) to help restore, rebalance and
                    maintain a
                    healthy
                    vaginal flora.
                    <br />
                    <br />
                    For urinary tract health, Lovebug also contains urinary health specific probiotics together
                    with
                    cranberry extract, odorless garlic and vitamin C for complete urogenital health support too.

                    <br />
                    <br />

                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header"> What are Lactobacilli Probiotics? <i class="icon-heart"></i>
                </div>
                <div class="accordion-content">
                    Lactobacilli bacteria are good bacteria (called vaginal probiotics) that live in the vagina
                    and
                    secrete
                    lactic acid which gives the vagina its acidic pH level. Healthy Vaginal pH is between 3.8
                    and
                    4.5.
                    <br />
                    <br />
                    Lovebug contains 90 billion CFU of Lactobacilli and other targeted healthy vaginal
                    probiotics to
                    help
                    maintain a healthy Vaginal pH. A Vaginal pH above that range allows for “opportunistic”
                    pathogens like
                    Candida (the yeast that causes Vaginal Yeast Infections) or Gardnerella (the bacteria behind
                    Bacterial
                    Vaginosis) to grow rapidly resulting in vaginitis. A high Vaginal pH can also lead to
                    vaginal
                    dryness
                    and other vaginal health concerns.
                    <br />
                    <br />

                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header"> Is Lovebug safe to be taken daily? <i class="icon-heart"></i>
                </div>
                <div class="accordion-content">
                    Yes! Lovebug is a <u>daily supplement</u> for women.
                    <br />
                    <br />

                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">Will Lovebug conflict with medications or other supplements?<i
                        class="icon-heart"></i></div>
                <div class="accordion-content">
                    There are no known reported conflicts with the ingredients in Lovebug.
                    <br />
                    <br />
                    As with any dietary ingredient, should you have a concern with a specific medication it is
                    always
                    suggested you seek advice from your healthcare professional.
                    <br />
                    <br />

                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header"> Do I need to take Lovebug with food? <i class="icon-heart"></i>
                </div>
                <div class="accordion-content">
                    Best results will come from taking Lovebug prior to food.
                    <br />
                    <br />
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header"> Who is Dr. Jennifer Berman, M.D.? <i class="icon-heart"></i>
                </div>
                <div class="accordion-content">
                    Dr. Jennifer Berman is an internationally renowned Urologist, NY Times Best Selling Author,
                    and
                    one of
                    America’s leading experts and authorities in the field of vaginal and female sexual health,
                    as
                    well as
                    urinary health. To read more about Dr. Berman <a style="color: #285780;"
                        href="#">click
                        here</a>.
                    <br />
                    <br />

                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">How does Lovebug support Vaginal health? <i
                        class="icon-heart"></i>
                </div>
                <div class="accordion-content">
                    Maintaining a healthy Vaginal pH is the key to vaginal health. Vaginal pH refers to the
                    acidity
                    level of
                    the vagina, a healthy vagina is in the 3.8 to 4.5 range. This healthy range is maintained by
                    having
                    enough good bacteria in the vagina (called vaginal probiotics), the majority of good
                    bacteria
                    are in the
                    Lactobacilli family.
                    <br />
                    <br />
                    If there are not enough good bacteria in the vagina, then vaginal pH can rise creating an
                    environment
                    for “opportunistic” pathogens like Candida (the yeast that causes Vaginal Yeast Infections)
                    or
                    Gardnerella (the bacteria behind Bacterial Vaginosis) to grow rapidly resulting in
                    vaginitis. It can also lead to vaginal dryness and other vaginal health concerns.
                    <br />
                    <br />

                    Lovebug provides the right targeted vaginal Lactobacilli and other vaginal probiotics to
                    help
                    keep a
                    healthy vaginal bacteria balance for a healthy Vaginal pH.
                    <br />
                    <br />

                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header"> How does Lovebug support Urinary Tract healthy?
                    <i class="icon-heart"></i></div>
                <div class="accordion-content">
                    For urinary tract health, Lovebug also contains urinary health specific probiotics together
                    with
                    cranberry extract, odorless garlic and vitamin C for complete urogenital health support too.

                    <br />
                    <br />

                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header"> How does the 60-Day Money-Back Guarantee work?<i
                        class="icon-heart"></i>
                </div>
                <div class="accordion-content">
                    LBWH stands behind the quality of its products. We are so confident that you will be pleased
                    with your
                    supplements that we offer a risk-free 60-day period to try your first bottle with a full
                    money-back
                    guarantee if you are not satisfied for any reason.
                    <br />
                    <br />
                    <ul>
                        <li>
                            For 1 month supply orders, just return any product (opened or unopened), and we’ll
                            give
                            you a
                            full refund of the purchase price less s/h. To obtain this refund you must return
                            the
                            product
                            within 60 days after receipt of your product price less s/h.
                        </li>
                        <li>
                            For 3 or 6 month supply orders, your first month-bottle is yours to try and keep,
                            and
                            there’s no
                            rush – you’ve got 60 days to try it. If you are not satisfied for any reason, simply
                            return the
                            rest of your supply “unopened” and get a complete refund of your product price less
                            s/h.
                            To
                            obtain this refund you must return the product within 60 days after receipt of your
                            product.
                        </li>
                    </ul>
                    <br />
                    <br />

                </div>
            </div>
          {% endcomment %}
            <!-- Add more questions and answers as needed -->
        </div>

        <button class="d-none teal center" onclick="toggleAccordion(this)" id="faqButton">
           {{ section.settings.faq_more_questions }}
        </button>
    </div>

</section>


{% schema %}
  {
    "name": "FAQ Part",
    "settings": [
        {
          "type": "text",
          "id": "faq_questions",
          "label": "FAQ Questions"
        },
        {
          "type": "text",
          "id": "faq_answers",
          "label": "FAQ Answers"
        },
        {
          "type": "text",
          "id": "faq_more_questions",
          "label": "FAQ More Questions"
        },
    ],
    "blocks": [
     {
        "type": "faq_accordian_items",
        "name": "FAQ Accordian Items",
        "settings": [
          {
            "type": "textarea",
            "id": "faq_heading",
            "label": "FAQ Heading"
          },
          {
            "type": "textarea",
            "id": "faq_para",
            "label": "FAQ Para"
          },
        ]
     },
    ],
    "presets": [
     {
        "category": "FAQ Part",
        "name": "FAQ Section"
     } 
   ]
    }
{% endschema %}