<section class="health-secret">
    <h2 class="heading main txt-center">
       {{ section.settings.secret_text }}
    </h2>

    <div class="container">
        <div class="bi-col f-xs-column">
            <div class="left-col blurred">
                <img src="{{ section.settings.secret_health_image | img_url: '' }}">
                <img src="{{ section.settings.secret_health_image | img_url: '' }}">
            </div>
            <div class="right-col condensed">
                <h3 class="heading">
                    {{ section.settings.right_heading }}
                </h3>
                <p class="subtitle xs">
                    {{ section.settings.right_textarea1 }}
                </p>
                <br />
                <p>
                    {{ section.settings.right_textarea2 }}
                </p>
                <p>
                    {{ section.settings.right_textarea3 }}
                </p>
            </div>
        </div>
        <div class="bi-col">
            <div class="left-col text-box">
                <h3 class="heading">
                     {{ section.settings.left_heading }}
                </h3>
                <br />
                <p>
                    {{ section.settings.left_textarea1 }}
                </p>
                <p>
                  {{ section.settings.left_textarea2 }}
                </p>
                <p>
                   {{ section.settings.left_textarea3 }}
                </p>
            </div>
            <div class="right-col  colored-box">
                <div>
                    <p class="subtitle t-up">
                        {{ section.settings.right_coloured_text1 }}
                        <br />
                        {{ section.settings.right_coloured_text2 }}
                    </p>
                    <br />
                    <p class="xs">
                       {{ section.settings.right_coloured_textarea1 }}
                    </p>
                    <p class="xs">
                        <b>
                            {{ section.settings.right_coloured_textarea2 }}
                        </b>
                    </p>
                </div>
                <div class="d-xs-none">
                    <img src="{{ section.settings.right_flower_image | img_url: '' }}">
                </div>
                <div class="d-md-none">
                    <img src="{{ section.settings.flower_image | img_url: '' }}">
                </div>
            </div>
        </div>
    </div>

</section>









{% schema %}
  {
    "name": "Health Secret Part",
    "settings": [
        {
          "type": "text",
          "id": "secret_text",
          "label": "Secret Text"
        },
        {
          "type": "image_picker",
          "id": "secret_health_image",
          "label": "Secret Health Image"
        },
        {
          "type": "text",
          "id": "right_heading",
          "label": "Right Heading"
        },
        {
          "type": "textarea",
          "id": "right_textarea1",
          "label": "Right Textarea1"
        },
        {
          "type": "textarea",
          "id": "right_textarea2",
          "label": "Right Textarea2"
        },
        {
          "type": "textarea",
          "id": "right_textarea3",
          "label": "Right Textarea3"
        },
        {
          "type": "text",
          "id": "left_heading",
          "label": "Left Heading"
        },
        {
          "type": "textarea",
          "id": "left_textarea1",
          "label": "Left Textarea1"
        },
        {
          "type": "textarea",
          "id": "left_textarea2",
          "label": "Left Textarea2"
        },
        {
          "type": "textarea",
          "id": "left_textarea3",
          "label": "Left Textarea3"
        },
        {
          "type": "text",
          "id": "right_coloured_text1",
          "label": "Right Coloured Text1"
        },
        {
          "type": "text",
          "id": "right_coloured_text2",
          "label": "Right Coloured Text2"
        },
         {
          "type": "textarea",
          "id": "right_coloured_textarea1",
          "label": "Right Coloured Textarea1"
        },
        {
          "type": "textarea",
          "id": "right_coloured_textarea2",
          "label": "Right Coloured Textarea2"
        },
        {
          "type": "image_picker",
          "id": "right_flower_image",
          "label": "Right Flower Image"
        },
        {
          "type": "image_picker",
          "id": "flower_image",
          "label": "Flower Image"
        },
    ],
    "presets": [
                {
                  "category": "Health Secret Part",
                  "name": "Health Secret Section"
                } 
             ]
  }
{% endschema %}