
<section class="prevention-tips">
          
            <div class="container">
                <h2 class="heading txt-center">
                    {{ section.settings.prevention_tips_heading1 }} <br class="d-md-none" /> {{ section.settings.prevention_tips_heading2 }} <br class="d-xs-none" />
                    {{ section.settings.prevention_tips_heading3 }}
                    <br class="d-md-none" /> {{ section.settings.prevention_tips_heading4 }}
                </h2>
                <div class="bi-col">
                    <div class="left-col  condensed">
                        <div>
                            <i> {{ section.settings.prevention_tips_left_i1 }} </i>
                            <h3 class="heading-sm">
                               {{ section.settings.prevention_tips_left_heading1 }}
                            </h3>
                            <p>
                                {{ section.settings.prevention_tips_left_para1 }}
                            </p>
                        </div>
                        <div>
                            <i> {{ section.settings.prevention_tips_left_i2 }} </i>
                            <h3 class="heading-sm">
                                {{ section.settings.prevention_tips_left_heading2 }}
                            </h3>
                            <p>
                                {{ section.settings.prevention_tips_left_para2 }}

                            </p>
                        </div>
                    </div>
                    <div class="right-col blurred">
                        <img src="{{ section.settings.prevention_tips_right_blur1 | img_url: '' }}" width="591" height="409"
                            class="lazyload">
                        <img src="{{ section.settings.prevention_tips_right_blur1 | img_url: '' }}" width="591" height="409"
                            class="lazyload">
                    </div>
                </div>
                <div class="bi-col f-xs-column">
                    <div class="left-col  blurred">
                        <img src="{{ section.settings.prevention_tips_left_blur1 | img_url: '' }}" width="591" height="409"
                            class="lazyload">
                        <img src="{{ section.settings.prevention_tips_left_blur1 | img_url: '' }}" width="591" height="409"
                            class="lazyload">
                    </div>
                    <div class="right-col condensed">
                        <div>
                            <i>{{ section.settings.prevention_tips_right_i3 }}</i>
                            <h3 class="heading-sm">
                                {{ section.settings.prevention_tips_right_heading3 }}
                            </h3>
                            <p>
                                {{ section.settings.prevention_tips_right_para3 }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="bi-col">
                    <div class="left-col  condensed">
                        <div>
                            <i>{{ section.settings.prevention_tips_left_i4 }}</i>
                            <h3 class="heading-sm">
                                {{ section.settings.prevention_tips_left_heading4 }}
                            </h3>
                            <p>
                                {{ section.settings.prevention_tips_left_para4 }}
                            </p>
                        </div>
                        <div>
                            <i>{{ section.settings.prevention_tips_left_i5 }}</i>
                            <h3 class="heading-sm">
                                {{ section.settings.prevention_tips_left_heading5 }}
                            </h3>
                            <p>
                                {{ section.settings.prevention_tips_left_para5 }}
                            </p>
                        </div>
                        <div>
                            <i>{{ section.settings.prevention_tips_left_i6 }}</i>
                            <h3 class="heading-sm">
                                {{ section.settings.prevention_tips_left_heading6 }}
                            </h3>
                            <p>
                                {{ section.settings.prevention_tips_left_para6 }}
                            </p>
                        </div>
                    </div>
                    <div class="right-col  blurred">
                        <img src="{{ section.settings.prevention_tips_right_blur2 | img_url: '' }}" width="591" height="409"
                            class="lazyload">
                        <img src="{{ section.settings.prevention_tips_right_blur2 | img_url: '' }}" width="591" height="409"
                            class="lazyload">
                    </div>
                </div>
                <div class="bi-col f-xs-column">
                    <div class="left-col blurred">
                        <img src="{{ section.settings.prevention_tips_left_blur2 | img_url: '' }}" width="591" height="409"
                            class="lazyload">
                        <img src="{{ section.settings.prevention_tips_left_blur2 | img_url: '' }}" width="591" height="409"
                            class="lazyload">
                    </div>
                    <div class="right-col condensed">
                        <div>
                            <i>{{ section.settings.prevention_tips_right_i7 }}</i>
                            <h3 class="heading-sm">
                               {{ section.settings.prevention_tips_right_heading7 }}
                            </h3>
                            <p>
                               {{ section.settings.prevention_tips_right_para7 }}
                            </p>
                        </div>
                        <br />
                        <br />
                        <div>
                            <i>{{ section.settings.prevention_tips_right_i8 }}</i>
                            <h3 class="heading-sm">
                                {{ section.settings.prevention_tips_right_heading8 }}
                            </h3>
                            <p>
                                {{ section.settings.prevention_tips_right_para8 }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="bi-col">
                    <div class="left-col  condensed">
                        <div>
                            <i>{{ section.settings.prevention_tips_left_i9 }}</i>
                            <h3 class="heading-sm">
                                {{ section.settings.prevention_tips_left_heading9 }}
                            </h3>
                            <p>
                                {{ section.settings.prevention_tips_left_para9 }}
                            </p>
                        </div>
                        <div>
                            <i class="lf-most">{{ section.settings.prevention_tips_left_i10 }}</i>
                            <h3 class="heading-sm">
                                {{ section.settings.prevention_tips_left_heading10 }}
                            </h3>
                            <p>
                                 {{ section.settings.prevention_tips_left_para10 }}
                            </p>
                        </div>
                    </div>
                    <div class="right-col orange-product">
                        <img src="{{ section.settings.prevention_tips_right | img_url: '' }}" width="591" height="409" class="lazyload">
                    </div>
                </div>

            </div>
        </section>

{% schema %}
  {
    "name": "Prevention Tips Part",
    "settings": [
      {
          "type": "textarea",
          "id": "prevention_tips_heading1",
          "label": "Prevention Tips Heading1"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_heading2",
          "label": "Prevention Tips Heading2"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_heading3",
          "label": "Prevention Tips Heading3"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_heading4",
          "label": "Prevention Tips Heading4"
        },
        {
          "type": "text",
          "id": "prevention_tips_left_i1",
          "label": "Prevention Tips Left i1"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_left_heading1",
          "label": "Prevention Tips Left Heading1"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_left_para1",
          "label": "Prevention Tips Left Para1"
        },
        {
          "type": "text",
          "id": "prevention_tips_left_i2",
          "label": "Prevention Tips Left i2"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_left_heading2",
          "label": "Prevention Tips Left Heading2"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_left_para2",
          "label": "Prevention Tips Left Para2"
        },
        {
          "type": "image_picker",
          "id": "prevention_tips_right_blur1",
          "label": "Prevention Tips Right Blur1"
        },
        {
          "type": "image_picker",
          "id": "prevention_tips_left_blur1",
          "label": "Prevention Tips Left Blur1"
        },
        {
          "type": "text",
          "id": "prevention_tips_right_i3",
          "label": "Prevention Tips Right i3"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_right_heading3",
          "label": "Prevention Tips Right Heading3"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_right_para3",
          "label": "Prevention Tips Right Para3"
        },
        {
          "type": "text",
          "id": "prevention_tips_left_i4",
          "label": "Prevention Tips Left i4"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_left_heading4",
          "label": "Prevention Tips Left Heading4"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_left_para4",
          "label": "Prevention Tips Left Para4"
        },
        {
          "type": "text",
          "id": "prevention_tips_left_i5",
          "label": "Prevention Tips Left i5"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_left_heading5",
          "label": "Prevention Tips Left Heading5"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_left_para5",
          "label": "Prevention Tips Left Para5"
        },
        {
          "type": "text",
          "id": "prevention_tips_left_i6",
          "label": "Prevention Tips Left i6"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_left_heading6",
          "label": "Prevention Tips Left Heading6"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_left_para6",
          "label": "Prevention Tips Left Para6"
        },
        {
          "type": "image_picker",
          "id": "prevention_tips_right_blur2",
          "label": "Prevention Tips Right Blur2"
        },
        {
          "type": "image_picker",
          "id": "prevention_tips_left_blur2",
          "label": "Prevention Tips Left Blur2"
        },
        {
          "type": "text",
          "id": "prevention_tips_right_i7",
          "label": "Prevention Tips Right i7"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_right_heading7",
          "label": "Prevention Tips Right Heading7"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_right_para7",
          "label": "Prevention Tips Right Para7"
        },
        {
          "type": "text",
          "id": "prevention_tips_right_i8",
          "label": "Prevention Tips Right i8"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_right_heading8",
          "label": "Prevention Tips Right Heading8"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_right_para8",
          "label": "Prevention Tips Right Para8"
        },
        {
          "type": "text",
          "id": "prevention_tips_left_i9",
          "label": "Prevention Tips Left i9"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_left_heading9",
          "label": "Prevention Tips Left Heading9"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_left_para9",
          "label": "Prevention Tips Left Para9"
        },
        {
          "type": "text",
          "id": "prevention_tips_left_i10",
          "label": "Prevention Tips Left i10"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_left_heading10",
          "label": "Prevention Tips Left Heading10"
        },
        {
          "type": "textarea",
          "id": "prevention_tips_left_para10",
          "label": "Prevention Tips Left Para10"
        },
        {
          "type": "image_picker",
          "id": "prevention_tips_right",
          "label": "Prevention Tips Right"
        },
    ],
    "presets": [
                {
                  "category": "Prevention Tips Part",
                  "name": "Prevention Tips Section"
                } 
             ]
  }
{% endschema %}