<section class="uti-preventions blue-bg">
    <div class="container">
        <h2 class="heading txt-center">
            {{ section.settings.uti_prevention_heading1 }}
        </h2>
        <p class="condensed center text">
            <b>{{ section.settings.uti_prevention_para1 }}</b>
        </p>
        <p class="condensed center text">
            {{ section.settings.uti_prevention_para2 }}
        </p>
        <div class="b-bottom"></div>
        <p class="subtitle txt-center">
           {{ section.settings.uti_prevention_para3 }}
        </p>
        <h3 class="heading  txt-center">
            {{ section.settings.uti_prevention_heading2 }}
            <br class="d-xs-none" />
            {{ section.settings.uti_prevention_sub_heading2 }}
        </h3>
        <div class="bi-col">
            <div class="left-col  condensed">
                <div>
                    <i>{{ section.settings.uti_prevention_left_i1 }}</i>
                    <h4 class="heading-sm">
                       {{ section.settings.uti_prevention_left_heading1 }}
                    </h4>
                    <p>
                       {{ section.settings.uti_prevention_left_para1 }}
                    </p>
                </div>
                <div>
                    <i>{{ section.settings.uti_prevention_left_i2 }}</i>
                    <h3 class="heading-sm">
                        {{ section.settings.uti_prevention_left_heading2 }}
                    </h3>
                </div>
                <div>
                    <i>{{ section.settings.uti_prevention_left_i3 }}</i>
                    <h3 class="heading-sm">
                        {{ section.settings.uti_prevention_left_heading3 }}
                    </h3>
                </div>
                <div>
                    <i>{{ section.settings.uti_prevention_left_i4 }}</i>
                    <h3 class="heading-sm">
                       {{ section.settings.uti_prevention_left_heading4 }}
                    </h3>
                    <p>
                        {{ section.settings.uti_prevention_left_para4 }}
                    </p>
                </div>
            </div>
            <div class="right-col blurred">
                <img src="{{ section.settings.uti_prevention_right_blur1 | img_url: '' }}" width="1140" height="748"
                    class="lazyload">
                <img src="{{ section.settings.uti_prevention_right_blur1 | img_url: '' }}" width="1140" height="748"
                    class="lazyload">
            </div>
        </div>
        <div class="bi-col f-xs-column">
            <div class="left-col blurred">
                <img src="{{ section.settings.uti_prevention_left_blur1 | img_url: '' }}" width="1140" height="748"
                    class="lazyload">
                <img src="{{ section.settings.uti_prevention_left_blur1 | img_url: '' }}" width="1140" height="748"
                    class="lazyload">
            </div>
            <div class="right-col condensed">
                <div>
                    <i>{{ section.settings.uti_prevention_right_i5 }}</i>
                    <h3 class="heading-sm">
                        {{ section.settings.uti_prevention_right_heading5 }}
                    </h3>
                    <p>
                        {{ section.settings.uti_prevention_right_para5 }}
                    </p>
                </div>
                <div>
                    <i>{{ section.settings.uti_prevention_right_i6 }}</i>
                    <h3 class="heading-sm">
                        {{ section.settings.uti_prevention_right_heading6 }}
                    </h3>
                    <p>
                        {{ section.settings.uti_prevention_right_para6 }}
                    </p>
                </div>
            </div>
        </div>

        <div class="bi-col">
            <div class="left-col condensed">
                <div>
                    <i>{{ section.settings.uti_prevention_left_i7 }}</i>
                    <h3 class="heading-sm">
                        {{ section.settings.uti_prevention_left_heading7 }}
                    </h3>
                    <p>
                        {{ section.settings.uti_prevention_left_para7 }}
                    </p>
                </div>
                <div>
                    <i>{{ section.settings.uti_prevention_left_i8 }}</i>
                    <h3 class="heading-sm">
                        {{ section.settings.uti_prevention_left_heading8 }}
                    </h3>
                    <p>
                        {{ section.settings.uti_prevention_left_para8 }}
                    </p>
                </div>

            </div>
            <div class="right-col blurred">
                <img src="{{ section.settings.uti_prevention_right_blur2 | img_url: '' }}" width="1140" height="748"
                    class="lazyload">
                <img src="{{ section.settings.uti_prevention_right_blur2 | img_url: '' }}" width="1140" height="748"
                    class="lazyload">
            </div>
        </div>
        <div class="bi-col f-xs-column">
            <div class="left-col blurred">
                <img src="{{ section.settings.uti_prevention_left_blur2 | img_url: '' }}" width="1140" height="748"
                    class="lazyload">
                <img src="{{ section.settings.uti_prevention_left_blur2 | img_url: '' }}" width="1140" height="748"
                    class="lazyload">
            </div>
            <div class="right-col condensed">
                <div>
                    <i>{{ section.settings.uti_prevention_right_i9 }}</i>
                    <h3 class="heading-sm">
                        {{ section.settings.uti_prevention_right_heading9 }}
                    </h3>
                    <p>
                        {{ section.settings.uti_prevention_right_para9 }}
                    </p>
                </div>
            </div>
        </div>

        <div class="bi-col">
            <div class="left-col  condensed disks">
                <div>
                    <i>{{ section.settings.uti_prevention_left_i10 }}</i>
                    <h3 class="heading-sm">
                         {{ section.settings.uti_prevention_left_heading10 }}
                    </h3>
                    <p>
                         {{ section.settings.uti_prevention_left_para10 }}
                    </p>
                    <p class="item">
                        <img src="{{ section.settings.uti_prevention_red_disk | img_url: '' }}">
                        {{ section.settings.uti_prevention_red_disk_para }}
                    </p>
                    <p class="item">
                        <img src="{{ section.settings.uti_prevention_teal_disk | img_url: '' }}">
                        {{ section.settings.uti_prevention_teal_disk_para }}
                    </p>
                </div>
            </div>
            <div class="right-col blurred">
                <img src="{{ section.settings.uti_prevention_right_blur3 | img_url: '' }}" width="1140" height="748"
                    class="lazyload">
                <img src="{{ section.settings.uti_prevention_right_blur3 | img_url: '' }}" width="1140" height="748"
                    class="lazyload">
            </div>
        </div>

        <div class="bi-col f-xs-column">
            <div class="left-col blurred">
                <img src="{{ section.settings.uti_prevention_left_blur3 | img_url: '' }}" width="1140" height="748"
                    class="lazyload">
                <img src="{{ section.settings.uti_prevention_left_blur3 | img_url: '' }}" width="1140" height="748"
                    class="lazyload">
            </div>
            <div class="right-col condensed disks">
                <div>

                    <p class="item">
                        <img src="{{ section.settings.uti_prevention_red_disk | img_url: '' }}">
                        {{ section.settings.uti_prevention_red_disk_para2 }}
                    </p>
                    <p class="item">
                        <img src="{{ section.settings.uti_prevention_teal_disk | img_url: '' }}">
                        {{ section.settings.uti_prevention_teal_disk_para2 }}
                    </p>
                    <br />
                    <a href="{{ section.settings.buy_now_url }}">
                        <button class="fl">{{ section.settings.buy_now }}</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>


{% schema %}
  {
    "name": "UTI Prevention Part",
    "settings": [
       {
          "type": "textarea",
          "id": "uti_prevention_heading1",
          "label": "UTI Prevention Heading1"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_para1",
          "label": "UTI Prevention Para1"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_para2",
          "label": "UTI Prevention Para2"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_para3",
          "label": "UTI Prevention Para3"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_heading2",
          "label": "UTI Prevention Heading2"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_sub_heading2",
          "label": "UTI Prevention Sub Heading2"
       },
       {
          "type": "text",
          "id": "uti_prevention_left_i1",
          "label": "UTI Prevention Left i1"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_left_heading1",
          "label": "UTI Prevention Left Heading1"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_left_para1",
          "label": "UTI Prevention Left Para1"
       },
       {
          "type": "text",
          "id": "uti_prevention_left_i2",
          "label": "UTI Prevention Left i2"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_left_heading2",
          "label": "UTI Prevention Left Heading2"
       },
       {
          "type": "text",
          "id": "uti_prevention_left_i3",
          "label": "UTI Prevention Left i3"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_left_heading3",
          "label": "UTI Prevention Left Heading3"
       },
       {
          "type": "text",
          "id": "uti_prevention_left_i4",
          "label": "UTI Prevention Left i4"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_left_heading4",
          "label": "UTI Prevention Left Heading4"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_left_para4",
          "label": "UTI Prevention Left Para4"
       },
       {
          "type": "image_picker",
          "id": "uti_prevention_right_blur1",
          "label": "UTI Prevention Right Blur1"
        },
        {
          "type": "image_picker",
          "id": "uti_prevention_left_blur1",
          "label": "UTI Prevention Left Blur1"
        },
        {
          "type": "text",
          "id": "uti_prevention_right_i5",
          "label": "UTI Prevention Right i5"
        },
        {
          "type": "textarea",
          "id": "uti_prevention_right_heading5",
          "label": "UTI Prevention Right Heading5"
        },
        {
          "type": "textarea",
          "id": "uti_prevention_right_para5",
          "label": "UTI Prevention Right Para5"
        },
        {
          "type": "text",
          "id": "uti_prevention_right_i6",
          "label": "UTI Prevention Right i6"
        },
        {
          "type": "textarea",
          "id": "uti_prevention_right_heading6",
          "label": "UTI Prevention Right Heading6"
        },
        {
          "type": "textarea",
          "id": "uti_prevention_right_para6",
          "label": "UTI Prevention Right Para6"
        },
        {
          "type": "text",
          "id": "uti_prevention_left_i7",
          "label": "UTI Prevention Left i7"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_left_heading7",
          "label": "UTI Prevention Left Heading7"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_left_para7",
          "label": "UTI Prevention Left Para7"
       },
       {
          "type": "text",
          "id": "uti_prevention_left_i8",
          "label": "UTI Prevention Left i8"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_left_heading8",
          "label": "UTI Prevention Left Heading8"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_left_para8",
          "label": "UTI Prevention Left Para8"
       },
       {
          "type": "image_picker",
          "id": "uti_prevention_right_blur2",
          "label": "UTI Prevention Right Blur2"
       },
       {
          "type": "image_picker",
          "id": "uti_prevention_left_blur2",
          "label": "UTI Prevention Left Blur2"
       },
       {
          "type": "text",
          "id": "uti_prevention_right_i9",
          "label": "UTI Prevention Right i9"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_right_heading9",
          "label": "UTI Prevention Right Heading9"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_right_para9",
          "label": "UTI Prevention Right Para9"
       },
       {
          "type": "text",
          "id": "uti_prevention_left_i10",
          "label": "UTI Prevention Left i10"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_left_heading10",
          "label": "UTI Prevention Left Heading10"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_left_para10",
          "label": "UTI Prevention Left Para10"
       },
       {
          "type": "image_picker",
          "id": "uti_prevention_right_blur3",
          "label": "UTI Prevention Right Blur3"
       },
       {
          "type": "image_picker",
          "id": "uti_prevention_left_blur3",
          "label": "UTI Prevention Left Blur3"
       },
       {
          "type": "image_picker",
          "id": "uti_prevention_red_disk",
          "label": "UTI Prevention Red Disk"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_red_disk_para",
          "label": "UTI Prevention Red Disk Para"
       },
       {
          "type": "image_picker",
          "id": "uti_prevention_teal_disk",
          "label": "UTI Prevention Teal Disk"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_teal_disk_para",
          "label": "UTI Prevention Teal Disk Para"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_red_disk_para2",
          "label": "UTI Prevention Red Disk Para2"
       },
       {
          "type": "textarea",
          "id": "uti_prevention_teal_disk_para2",
          "label": "UTI Prevention Teal Disk Para2"
       },
       {
          "type": "url",
          "id": "buy_now_url",
          "label": "Buy Now URL",
       },
       {
          "type": "text",
          "id": "buy_now",
          "label": "Buy Now",
       },
      
    ],
   "presets": [
              {
                "category": "UTI Prevention Part",
                "name": "UTI Prevention Section"
              } 
           ]
  }
{% endschema %}