<section class="viral-bacterial">
            <h2 class="heading txt-center main">
               {{ section.settings.viral_bacteria_heading1 }}
            </h2>
            <div class="container">
                <div class="jenn-quiz">
                    <p class="heading">
                         {{ section.settings.viral_bacteria_para1 }}
                    </p>
                    <br />
                    <p class="subtitle xs">
                       {{ section.settings.viral_bacteria_para2 }}
                    </p>
                    <p class="lg-text">
                        {{ section.settings.viral_bacteria_para3 }}
                    </p>
                    <p>
                        {{ section.settings.viral_bacteria_para4 }}
                    </p>
                </div>
                <div class="bi-col squeez f-xs-column">
                    <div class="left-col">
                        <p>
                            <b> {{ section.settings.viral_bacteria_para5 }} </b>
                        </p>
                        <p>
                            {{ section.settings.viral_bacteria_para6 }}
                        </p>
                    </div>
                    <div class="right-col">
                        <p>
                            {{ section.settings.viral_bacteria_para7 }}
                        </p>
                        <p>
                            {{ section.settings.viral_bacteria_para8 }}
                        </p>
                    </div>
                </div>
                <h3 class="txt-center heading  b-bottom">
                   {{ section.settings.viral_bacteria_heading2 }}
                </h3>

                <div class="table">
                    <div class="cell header txt-center">
                        {{ section.settings.viral_bacteria_vaginitis }}
                    </div>
                    <div class="cell  header  txt-center">
                        {{ section.settings.viral_bacteria_vaginosis }}
                    </div>
                    <div class="cell  header txt-center  d-xs-none">
                        {{ section.settings.viral_bacteria_yeast_infection }}
                    </div>

                    <div class="cell">
                        {{ section.settings.viral_bacteria_what_text }}
                    </div>
                    <div class="cell small">
                        <dd>
                            {{ section.settings.viral_bacteria_cell1 }}
                        </dd>
                    </div>
                    <div class="cell d-xs-none small">
                        <dd>
                             {{ section.settings.viral_bacteria_cell2 }}
                        </dd>
                    </div>

                    <div class="cell fl">
                        {{ section.settings.viral_bacteria_vaginal_discharge_colour }}
                    </div>

                    <div class="cell fl">
                        {{ section.settings.viral_bacteria_greyish_white }}
                    </div>

                    <div class="cell fl  d-xs-none">
                        {{ section.settings.viral_bacteria_thick_curd }}
                    </div>

                    <div class="cell">
                        {{ section.settings.viral_bacteria_vaginal_discharge_odor }}
                    </div>
                    <div class="cell">
                        {{ section.settings.viral_bacteria_fishy_odor }}
                    </div>

                    <div class="cell  d-xs-none">
                        {{ section.settings.viral_bacteria_beer_odor }}
                    </div>

                    <div class="cell fl">
                        {{ section.settings.viral_bacteria_itching }}
                    </div>
                    <div class="cell fl">
                        <i class="icon-tick"></i> &nbsp; {{ section.settings.viral_bacteria_yes }}
                    </div>
                    <div class="cell fl  d-xs-none">
                        <i class="icon-tick"></i> &nbsp;{{ section.settings.viral_bacteria_yes }}
                    </div>

                    <div class="cell">
                        {{ section.settings.viral_bacteria_burning_with_urination }}
                    </div>
                    <div class="cell">
                        <i class="icon-tick"></i> &nbsp;{{ section.settings.viral_bacteria_yes }}
                    </div>
                    <div class="cell  d-xs-none">
                        <i class="icon-tick"></i> &nbsp;{{ section.settings.viral_bacteria_yes }}
                    </div>

                    <div class="cell fl">
                        {{ section.settings.viral_bacteria_burning }}
                    </div>
                    <div class="cell fl">
                        <i class="icon-tick"></i> &nbsp;{{ section.settings.viral_bacteria_yes }}
                    </div>
                    <div class="cell fl  d-xs-none">
                        <i class="icon-tick"></i> &nbsp;{{ section.settings.viral_bacteria_yes }}
                    </div>

                    <div class="cell">
                        {{ section.settings.viral_bacteria_pain }}
                    </div>
                    <div class="cell">
                       {{ section.settings.viral_bacteria_cell3 }}
                    </div>
                    <div class="cell  d-xs-none">
                        <i class="icon-tick"></i> &nbsp;{{ section.settings.viral_bacteria_yes }}
                    </div>

                    <div class="cell fl">
                        {{ section.settings.viral_bacteria_effects }}
                    </div>

                    <div class="cell fl">
                        <i class="icon-cross"></i> &nbsp;{{ section.settings.viral_bacteria_no }}
                    </div>
                    <div class="cell fl  d-xs-none">
                        <i class="icon-cross"></i> &nbsp;{{ section.settings.viral_bacteria_no }}
                    </div>

                    <div class="cell">
                        {{ section.settings.viral_bacteria_contagious }}
                    </div>

                    <div class="cell">
                        <i class="icon-cross"></i> &nbsp;{{ section.settings.viral_bacteria_no }}
                    </div>
                    <div class="cell  d-xs-none">
                        <p>
                            <i class="icon-cross"></i> &nbsp;{{ section.settings.viral_bacteria_cell4 }}
                        </p>
                    </div>

                    <div class="cell fl">
                        {{ section.settings.viral_bacteria_chances }}
                    </div>

                    <div class="cell fl">
                        {{ section.settings.viral_bacteria_high }}
                    </div>
                    <div class="cell fl  d-xs-none">
                        {{ section.settings.viral_bacteria_high }}
                    </div>

                </div>
                <div class="table d-md-none">
                    <div class="cell header txt-center">
                        {{ section.settings.viral_bacteria_vaginitis }}
                    </div>
                    <div class="cell  header txt-center  ">
                        {{ section.settings.viral_bacteria_yeast_infection }}
                    </div>
                    <div></div>

                    <div class="cell">
                        {{ section.settings.viral_bacteria_what_text }}
                    </div>

                    <div class="cell d-block">
                        {{ section.settings.viral_bacteria_cell5 }}
                    </div>
                    <div></div>

                    <div class="cell fl">
                        {{ section.settings.viral_bacteria_vaginal_discharge_colour }}
                    </div>

                    <div class="cell fl  ">
                        {{ section.settings.viral_bacteria_thick_curd }}
                    </div>
                    <div></div>

                    <div class="cell">
                        {{ section.settings.viral_bacteria_vaginal_discharge_odor }}
                    </div>

                    <div class="cell  ">
                        {{ section.settings.viral_bacteria_beer_odor }}
                    </div>
                    <div></div>

                    <div class="cell fl">
                         {{ section.settings.viral_bacteria_itching }}
                    </div>

                    <div class="cell fl  ">
                        <i class="icon-tick"></i> &nbsp;{{ section.settings.viral_bacteria_yes }}
                    </div>
                    <div></div>

                    <div class="cell">
                       {{ section.settings.viral_bacteria_burning_with_urination }}
                    </div>

                    <div class="cell  ">
                        <i class="icon-tick"></i> &nbsp;{{ section.settings.viral_bacteria_yes }}
                    </div>
                    <div></div>

                    <div class="cell fl">
                        {{ section.settings.viral_bacteria_burning }}
                    </div>

                    <div class="cell fl  ">
                        <i class="icon-tick"></i> &nbsp;{{ section.settings.viral_bacteria_yes }}
                    </div>
                    <div></div>

                    <div class="cell">
                        {{ section.settings.viral_bacteria_pain }}
                    </div>

                    <div class="cell  ">
                        <i class="icon-tick"></i> &nbsp;{{ section.settings.viral_bacteria_yes }}
                    </div>
                    <div></div>

                    <div class="cell fl">
                        {{ section.settings.viral_bacteria_effects }}
                    </div>

                    <div class="cell fl">
                        <i class="icon-cross"></i> &nbsp;{{ section.settings.viral_bacteria_no }}
                    </div>

                    <div></div>

                    <div class="cell">
                        {{ section.settings.viral_bacteria_contagious }}
                    </div>

                    <div class="cell  ">
                        <p>
                            <i class="icon-cross"></i> &nbsp;{{ section.settings.viral_bacteria_cell4 }}
                        </p>
                    </div>
                    <div></div>

                    <div class="cell fl">
                        {{ section.settings.viral_bacteria_chances }}
                    </div>

                    <div class="cell fl  ">
                        {{ section.settings.viral_bacteria_high }}
                    </div>
                    <div></div>

                </div>
            </div>

        </section>


{% schema %}
  {
     "name": "Viral Bacteria Part",
    "settings": [
         {
          "type": "textarea",
          "id": "viral_bacteria_heading1",
          "label": "Viral Bacteria Heading 1"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_para1",
          "label": "Viral Bacteria Para 1"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_para2",
          "label": "Viral Bacteria Para 2"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_para3",
          "label": "Viral Bacteria Para 3"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_para4",
          "label": "Viral Bacteria Para 4"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_para5",
          "label": "Viral Bacteria Para 5"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_para6",
          "label": "Viral Bacteria Para 6"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_para7",
          "label": "Viral Bacteria Para 7"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_para8",
          "label": "Viral Bacteria Para 8"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_heading2",
          "label": "Viral Bacteria Heading 2"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_vaginitis",
          "label": "Viral Bacteria Vaginitis"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_vaginosis",
          "label": "Viral Bacteria Vaginosis"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_yeast_infection",
          "label": "Viral Bacteria Yeast Infection"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_what_text",
          "label": "Viral Bacteria What Text"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_cell1",
          "label": "Viral Bacteria Cell 1"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_cell2",
          "label": "Viral Bacteria Cell 2"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_vaginal_discharge_colour",
          "label": "Viral Bacteria Vaginal Discharge Colour"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_greyish_white",
          "label": "Viral Bacteria Greyish White"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_thick_curd",
          "label": "Viral Bacteria Thick Curd"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_vaginal_discharge_odor",
          "label": "Viral Bacteria Vaginal Discharge Odor"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_fishy_odor",
          "label": "Viral Bacteria Fishy Odor"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_beer_odor",
          "label": "Viral Bacteria Beer Odor"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_itching",
          "label": "Viral Bacteria Bacteria Itching"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_yes",
          "label": "Viral Bacteria Yes"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_no",
          "label": "Viral Bacteria No"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_burning",
          "label": "Viral Bacteria Burning"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_burning_with_urination",
          "label": "Viral Bacteria Burning With Urination"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_pain",
          "label": "Viral Bacteria Pain"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_effects",
          "label": "Viral Bacteria Effects"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_contagious",
          "label": "Viral Bacteria Contagious"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_high",
          "label": "Viral Bacteria High"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_chances",
          "label": "Viral Bacteria Chances"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_cell3",
          "label": "Viral Bacteria Cell 3"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_cell4",
          "label": "Viral Bacteria Cell 4"
        },
        {
          "type": "textarea",
          "id": "viral_bacteria_cell5",
          "label": "Viral Bacteria Cell 5"
        },
        
    ],
   "presets": [
              {
                "category": "Viral Bacteria Part",
                "name": "Viral Bacteria Section"
              } 
           ]
  }
{% endschema %}